.login_container{
    width: 600px;
    height: 700px;
    background-image: linear-gradient(rgba(81, 201, 245, 0.492), rgba(249, 234, 138, 0.492));
    border-radius: 15px;
    border:1px solid #777;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 8%;
    top: 0;
    flex-direction: column;
    gap: 20px;
    
    form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

    input{
        width: 100%;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 10px;
    }

    .submit{
        display: flex;
        gap: 50px;

        button{
            padding: 10px 30px;
            font-size: 1.2rem;
            width: 200px;
            border-radius: 15px;
        }
    }

    .userstate{
        cursor: pointer;
        font-size: 1.5rem;
        color: #fff;

        &:hover{
            color: blue;
        }
    }

}

}
